.person{
    display: inline;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.girl{
    background-color: #ffc5e7;
    color: #b43f83;
    border: 1px solid #b43f83;
}

.boy{
    background-color: cyan;
    color: #00a2ff;
    border: 1px solid #00a2ff;
}